<form (ngSubmit)="createTopic()">
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="topicName">

<!-- <fieldset> -->
<form>
    <input type="text" [(ngModel)]="topic" name="topic" placeholder="topic">
    <input type="text" [(ngModel)]="descr" name="descr" placeholder="descr">
    <button (click)="addTopic()">Add</button>
</form>
<!-- </fieldset> -->

    <button type="submit">Create Topic</button>
</form>

<span>{{ userId | json }}</span>


<div *ngIf="topics">

    <div *ngFor="let t of topics">
        <a [routerLink]="['/topics', t.id]">{{ t.topic }} / {{ t.descr }} </a>
    </div>

</div>
